.name-user::before {
    content: "\e003";
    font-family: "Glyphicons Halflings";
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    height: 1rem;
    line-height: 1rem;
    transform: translateY(-0.5rem);
    color: #000000;
    z-index: 2;
    pointer-events: none;

}

.name-user input {
    padding-left: 2rem;
}