#oldPerson {
    width: 20rem;
    text-align: center;
}

#newName {
    width: 29%;
}

#newAge {
    width: 25%;
}

#search {
    width: 100%;
    margin-top: -2%;
    margin-bottom: -4%;
    margin-left: -0.4%;
    border-block-end-width: inherit;
}
#pagination {
    margin-top: -1.75%;
}